  // These colors are specific to the theme. Do not use in a package!

@very-light-gray: lighten(gray, 40%);
@light-gray: lighten(gray, 20%);
@light-black: lighten(black, 18%);

@blue: #0066ff;
@light-blue: lighten(@blue, 10%);
@very-light-blue: lighten(@blue, 20%);
@green: #00ff7d;
@light-green: lighten(@green, 10%);
@very-light-green: lighten(@green, 20%);
@light-red: lighten(red, 10%);
@very-light-red: lighten(red, 20%);
