  // These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #38ffe5;
@blue: #007eff;
@purple: #d440ff;
@green: #00ff7d;
@light-green: lighten(@green, 10%);
@red: #ff0000;
@orange: #ff7d00;
@light-orange: lighten(@orange, 10%);

.bold { font-weight: bold; }

@text: white;
@cursor: @green;
@selection: @gray;
@background: black;

@comment: @light-gray;
@storage: @red;
@operator: @red;
@function: @light-green;
@class: @light-green;
